*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/noaa-kcvlb727mn8-unsplash.jpg);
    background-repeat: round;
}

.container{
    width: 400px;
    height: 100px;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 16px;
    padding: 20px;
    transition: height .6s ease;
    position: relative;
    overflow: hidden;
}

.header{
    overflow: hidden;
}

.search-div{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-div input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    background-color: #e6f5fb;
    padding: 12px 16px;
    border-radius: 14px;
}

.search-div input::placeholder{
    color: #000;
}
.search-div button{
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20x;
}

.search-div button:hover{
    color: #fff;
    background-color: #ababab;
}

.weather-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-block: 36px;
    gap: 20px;
    visibility: hidden;
    transform: translateY(-200%);
}

.weather-body.active{
    visibility: visible;
    transform: translateY(-70%);
    transition: transform 1s ease;
    transition-delay: .3s;
}

.weather-body img{
    width: 60%;
}

.weather-box{
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}

.weather-box .temperature sup{
    font-size: 24px;
    position: absolute;
}

.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.humidity img, .wind img{
    width: 55px;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    visibility: hidden;
    transform: translateY(-260%);
    overflow: hidden;
}

.weather-details.active{
    visibility: visible;
    transform: translateY(-94%);
    transition: transform 1.2s ease;
    transition-delay: .7s;
}

.humidity, .wind{
    display: flex;
    align-items: center;
}

.humidity .text, .wind .text{
    margin-left: 14px;
}

.text span{
    font-size: 20px;
    font-weight: 700;
}

.location-not-found{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(-154%);
    visibility: hidden;
}

.location-not-found.active{
    visibility: visible;
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .2s;
}

.location-not-found h1{
    font-size: 22px;
    color: white;
    margin-block-end: 15px;
}

.location-not-found img{
    width: 80%;
}